   
<html>
<head>
	<title> autocomplete </title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/autocomplete.css">
</head>
<body>
   <form class="navbar-form span6" action="/lender_search/" method="get">
  	     <input  autocomplete="off" id="place-search" name="query" placeholder="Where would you like to go?" type="text">
  	     <button type="submit">Search</button>
  </form>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script> </script>
	<script type="text/javascript">
       	var input = document.getElementById('place-search');
        var autocomplete = new google.maps.places.Autocomplete(input);
	</script>
</body>
</html>

