<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{% block title %}Sawaari{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <style>
    	body{
    		margin-top:41px;
    	}
    	.modal { display:none; }
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block custom_stylesheets %}{% endblock %}
    {% block head_js %}{% endblock %}

</head>
<body>
    {% include "nav.html" %}
	{% include "includes/messages.html" %}
    {% include "scripts.html" %}
    
    {% block content %}{% endblock %}

    {% block footer %}
    {% endblock %}
    
    {% block body_js %}{% endblock %}
</body>
</html>