{%if openrequests%}
    <h3>People looking for vehicles at {{profile.location}}:</h2>
    <ul>
        {% for request in openrequests%}
            <li><p><strong>
            <a class="btn btn-large btn-info" href="/?profile_link={{request.sender}}"> {{request.sender}} </a>
            </strong></p>
            <p>{{request.message}}</p></li>
        {%endfor%}
    </ul>
{%else%}
    <h3>Currently No one looking for vehicles at {{profile.location}}</h3>
{%endif%}