{%if loggedin %}
    {%if not profile_link %}

        <div style="z-index:2; background-color: black; opacity: 0.6; color: white; padding :20px; border-radius : 10% / 10%;
			 position: absolute; margin-top:7%; margin-left: 70%;width : 25%;">

            <form action="." method="post">
                <ui style="list-style-type:None;">
                <li>
                    <input type="text" name="forum_post" class="span3">
                    <button type="submit" class="badge badge-important" name="post_submit" value="submit">Post</button>
                </li>
                </ui>
            </form>
            {%if not query%}
            <h5>Current Posts tagged at {{profile.location}}:</h5>
            {%else%}
            <h5>Current Posts tagged at {{query}}:</h5>
            {%endif%}

            <ul style="list-style-type:decimal;">
                {% for post in posts%}
                    <li>
                        <p>{{post.post}}  &nbsp; &nbsp; &nbsp; &nbsp; {{post.created}}</p>
                        <p><strong>
                        <a href="/?profile_link={{request.sender}}"> {{post.creator}} </a>
                        </strong></p>
                    </li>
                {%endfor%}
            </ul>

        </div>

    {%endif%}
{%else%}

    {%if not profile_link%}
        {%if query%}
            <div style="z-index:2; background-color: black; opacity: 0.6; color: white; padding :20px; 
                border-radius : 10% / 10%; position: absolute; margin-top:7%; margin-left: 77%;">
                <h5>login to see this city's forum</h5>
            </div>
        {%endif%}
    {%endif%}
{%endif%}