{% extends "base.html" %}
{% block title %}{{ head_title }}{% endblock %}
{% block custom_stylesheets %}
	
    <link href="{{ STATIC_URL }}css/mainpage.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mainpage.css" />
{% endblock %}
{% block head_js %}
		<!--<script type="text/javascript"
		      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWmji3zO5KjZny-SqlKVN_vko4tSln6jQ&sensor=false">
		</script>-->

{% endblock %}
{% block content %}
	{% include "includes/signup.html" %}
	{% include "includes/login.html" %}
    {%include "includes/openrequest_form.html"%}
    {%include "footer.html"%}
    {%include "includes/respond-to-openrequests.html"%}
    {%include "includes/opentrip-form.html"%}
    {%include "forum.html"%}
    {%include "includes/manage_publicrequests.html"%}

<div class="container-fluid">
	<div class="row-fluid">
       
            {%if profile_link%}
    		<div class="span8" style="text-align: center;">
            {%else%}
            <div class="span4" style="text-align: center;">
            {%endif%}
        
    			{% if not loggedin %}
                    {%if profile_link%}
                        {% include "profile.html" %}

                    {%else%}

                        {%if query%}
                           
                                {% include "search.html" %}

                        {%else%}

                        <h2>{{welcome_message}}</h2>
                        <h3>{{login_prompt}}</h3>           
                        <a data-toggle="modal" data-target="#login-modal" class="btn btn-large btn-primary" style="width:50%" href="#">LOGIN</a>
                        <h3>{{signup_prompt}}</h3>                         
                        <a data-toggle="modal" data-target="#signup-modal" class="btn btn-large btn-primary" style="width:50%" href="#">SIGNUP</a>

                        {%endif%}
                    {%endif%}

                {%else%}

                    {%if profile_link%}
                        {% include "profile.html" %}

                    {%else%}

                        <!-- {%if open_request%}
                            {% include "includes/openrequest_form.html" %}
                        {%else%} -->

                            {%if query%}

                                {% include "search.html" %}

                            {%else%} 
                                          
                            <h2> hello, {{user.username}} </h3>
                                {%include "request.html"%}
                                {%include "feeds.html"%}
                            {%endif%}
                       <!--  {%endif%} -->
                    {%endif%}
                {%endif%}


    		</div>

           
       

            {%if profile_link%}

            <div class="span4">
                <div id="map_canvas" style="width:100%; padding:20px;"></div>
            </div>

            {%else%}

        	<div class="span8">
        		<div id="map_canvas" style="width:100%; padding:20px;"></div>
        	</div>

            {%endif%}



	</div>

</div>

{% endblock %}
{% block body_js %}
    
    <script>
      $(function() {



        $('input').attr('autocomplete','off')

        $(".datetime").datetimepicker({
            timeFormat: "HH:mm",
            dateFormat: "yy-mm-dd"
        });
        
      });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng({{lt}},{{lng}}),
          {%if query or profile_location%}
          zoom: 8,
          {%else%}
          zoom: 2,
          {%endif%}
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };


        var mapdiv = document.getElementById("map_canvas");
        var map = new google.maps.Map(mapdiv, mapOptions);



        var input = document.getElementById('place-search');
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var input = document.getElementById('location');
        console.log(input)
        var autocomplete = new google.maps.places.Autocomplete(input);

        var input = document.getElementById('id_source');
        var autocomplete = new google.maps.places.Autocomplete(input);

        var input = document.getElementById('id_destination');
        var autocomplete = new google.maps.places.Autocomplete(input);




        latitudes = {{latitudes}};
        longitudes = {{longitudes}};
        usernames = {{usernames|safe}};

        console.log(latitudes);
        console.log(longitudes);
        var markers = [];
        var infowindows = [];
        for (var i = 0; i <= latitudes.length; i++) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(latitudes[i], longitudes[i]),
                icon: '/media/car.png',
                title: usernames[i]
            });
            var contentString = '<a href="/?profile_link=' + usernames[i] +'">' + usernames[i] +'\'s profile';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            markers.push(marker);
            infowindows.push(infowindow);
        };
        console.log(infowindows[1]);

        function infowindowtrigger (infowindows, markers, i) {
            return function(){
                infowindows[i].open(map, markers[i]);
            };
        };

        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
            google.maps.event.addListener(markers[i], 'click', infowindowtrigger(infowindows, markers, i));
        };
        
      }
    </script>
    <script>
        document.body.onload=initialize();
        var mapheight=$(window).height();
        $("#map_canvas").height(mapheight);
        console.log({{  latitudes}});
        console.log({{longitudes}});
    </script>
{% endblock %}
