<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	  <div class="container" style="width: 100%; background-color: black;">
		  <a class="brand" style="color: white; background-color: green; padding-left: 30px;" href="/">  Sawaari </a>
      	  	
  		  <ul class="nav pull-right" style="margin:auto;">

  	         <li>

  	         	<form class="navbar-form span4" action="" method="get">
  	         	  <input  autocomplete="off" id="place-search" name="query" placeholder="Where would you like to go?" tabindex="1" type="text" class="span3 search-query">
  	         	  <button type="submit" class="btn btn-primary">Search</button>
  	         	</form>

              <form class="navbar-form span0" action="" method="post">
                <a data-toggle="modal" data-target={%if loggedin%}"#open-trip-modal"{% else %}"#login-modal"{%endif%} style="color:white" href="#">
                  <button type="submit" name="open_trip" class="btn btn-info">Plan An Open Trip
                  </button>
                </a>
              </form>

              <div class ="span1"></div>


  	         </li>
           
            {%if loggedin%}

                {%if query%}
                  <li>
                      <form class="navbar-form span4" action="" method="get">
                      <a data-toggle="modal" data-target={%if loggedin%}"#open-request-modal"{% else %}"#login-modal"{%endif%} style="color:white" href="#">     
                        <button type="submit" name="open_request" class="btn btn-danger">Post An Open Request at {{city}}
                           </button></a>
                      </form>
                  </li>
                {%endif%}
                
              <li><a class="pull-right" style="color:white" href="/?profile_link={{user.username}}">My Profile</a></li>
              <li><a class="pull-right" style="color:white" href="/logout">Logout</a></li>

            {% else %}

              {%if query%}
                  <li>
                      <form class="navbar-form span4" action="" method="get">
                      <a data-toggle="modal" data-target={%if loggedin%}"#open-request-modal"{% else %}"#login-modal"{%endif%} style="color:white" href="#">     
                        <button type="submit" name="open_request" class="btn btn-danger">Post An Open Request at {{city}}
                           </button></a>
                      </form>
                  </li>
                {%endif%}

              <li><a data-toggle="modal" data-target="#login-modal" class="pull-right" style="color:white" href="#">Login</a></li>

            {%endif%}
  		  </ul>
	  </div>
 
  </div>
</div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script> </script>
    <script type="text/javascript">
        var input = document.getElementById('place-search');
        var autocomplete = new google.maps.places.Autocomplete(input);
    </script>