{% block custom_stylesheets %}

	<link rel="stylesheet" href="http://localhost:8000/media/lender_profile.css"/>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/timepicker.css"/>
	 
 {% endblock %}

{% block content %}
	{% include "includes/signup.html" %}
	{% include "includes/login.html" %}
	{% include "includes/request_form.html" %}
	{% include "includes/review_form.html" %}

	
	<div>
		<div class="row" style="padding-top:50px;">
			<div class="span3">
				<div>
				<img src="http://localhost:8000/media/Aston_Martin.gif" class="img-polaroid" style="margin:10px; padding:10px;" alt="not available">
				</div>

				<div>
					{% if not request_to_lender %}
						{%if not_my_profile %}
							<div class="reqform">
								<form class="reqform" action="" method={%if loggedin%}"post"{%else%}"get"{%endif%}>
									<a data-toggle="modal" data-target={%if loggedin%}
									"#request-form-modal"{% else %}"#login-modal"{% endif %} 
									class="btn btn-large btn-primary" style="width:50%" href="#">Request</a>
								</form>
							</div>
							<div class="reviewform">
								<form class="reviewform" action="" method="GET">
									<a data-toggle="modal" data-target={%if loggedin%}
									"#review-form-modal"{% else %}"#login-modal"{% endif %} 
									class="btn btn-large btn-warning" style="width:50%" href="#">Review</a>
								</form>
							</div>
						{%endif%}
					{%endif%}
				</div>
			</div>		

			<div class="span5" style="padding:20px;">
				<table class="table table-hover">
					<tr class="success">
						<td>Name : {{profile.user.first_name}} {{profile.user.last_name}}</td>
					</tr>
					<tr class="error">
						<td>Location : <a href="/?query={{profile.location}}">{{profile.location}}</a></td>
					</tr>
					<tr class="warning">
						<td>Email : {{profile.user.email}}</td>
					</tr>
					<tr class="info">
						<td>Contact Number : {{profile.contactno}}</td>
					</tr>
					<tr class="success">
						<td>Vehicle's Available : {{profile.available_vehicle_types}}</td>
					</tr>
				</table>
			</div>

				
			<div class="row" style="margin-left:80%; margin-top:5%; position:ansolute;">
				{%include "reviews.html"%}
			</div>


		</div>


		<div class="row">
			{% include "request.html" %}
		</div>
	{%if not_my_profile%}
	</div>
	{%endif%}
</div>


{% endblock %}


