{%if not_my_profile %}
<div class="tabbable tabs-left" style="margin-top:25px; margin-left:10px;">
	<ul class="nav nav-tabs nav-stacked">
		<li><a href="#pane1" data-toggle="tab">Requests sent to {{profile.user.username}}
		</a></li>
	</ui>

    <div class="tab-content">
        <div id="pane1" class="tab-pane">
			<div class="span8">
				{% if visitors_requests %}
					<table class="table table-hover">
						<tr>
							<th>From</th>
							<th>To</th>
							<th>Message</th>
							<th>Status</th>
						</tr>
					{% for request in visitors_requests %}
						<tr>
							<td>{{request.datetime_from}}</td> 
							<td>{{request.datetime_to}}</td>
							<td>{{request.message}}</td> 
							{%if not request.status%} 
							<td>pending</td>
							{%else%}
							<td>confirmed</td>
							{%endif%}

						</tr>
					{% endfor %}
					</table>
				{% else %}
					<h5>No requests sent.</h5>
				{% endif %}		

{% else %}

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs nav-stacked">
	    <li><a href="#pane1" data-toggle="tab">Sent Requests
	    </a></li>

	    <li class="active"><a href="#pane2" data-toggle="tab">Received Requests
	    </a></li>
    </ul>

    <div class="tab-content">
        <div id="pane1" class="tab-pane">
			<div class="span4">
				<h5>Sent Requests</h5>
				{% if sent_requests %}
					<table class="table table-hover">
						<tr>
							<th>Receiver</th>
							<th>From</th>
							<th>To</th>
							<th>Message</th>
							<th>Status</th>
						</tr>
						{% for request in sent_requests %}
							<tr>
								<td><a href="/?profile_link={{request.receiver}}"> {{request.receiver}} </a> </td>
								<td>{{request.datetime_from}}</td> 
								<td>{{request.datetime_to}}</td>
								<td>{{request.message}}</td>
								{%if not request.status%}  
								<td>pending</td>
								{%else%}
								<td>confirmed</td>
								{%endif%}
								
							</tr>
						{% endfor %}
					</table>

					{% else %}
						<p>No requests sent.</p>
					{% endif %}

			</div>
		</div>
					
		<div id="pane2" class="tab-pane active">
			<div class="span4">
				<h5>Received Requests</h5>
				{% if received_requests %}
				<table class="table table-hover">
					<tr>
						<th>From</th>
						<th>To</th>
						<th>Message</th>
						<th>Status</th>
					</tr>
					{% for request in received_requests %}
						<tr>
							<td><a href="/?profile_link={{request.sender}}"> {{request.sender}} </a> </td>
							<td>{{request.datetime_from}}</td> 
							<td>{{request.datetime_to}}</td>
							<td>{{request.message}}</td>  
							{%if not request.status%}  
							<td>pending</td>
							{%else%}
							<td>confirmed</td>
							{%endif%}
						</tr>
					{% endfor %}
				</table>

				{% else %}
					<p>No requests received</p>
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
</div>