<div>
{%if reviews%}

<h4><p> to <a href="/?profile_link={{profile_link}}">{{profile_link}}</a> </p></h4>
	
	<ul style="list-style-type:None;">
	{%for review in reviews%}

	<!-- <h4><p> to <a href="/?profile_link={{review.receiver}}">{{review.receiver}}</a> </p></h4> -->
	
		<li>
			{%if review.experience == 'Positive' %}
				<div class="commentbox" style="z-index:2; background-color: #c3325f; opacity: 0.6; color: white; padding :20px; border-radius : 10% / 10%;">
			{%else%}
				<div class="commentbox" style="z-index:2; background-color: #black; opacity: 0.6; color: white; padding :20px; border-radius : 10% / 10%;">
			{%endif%}
					<div class="flip" style="">
					<div class="rotate y">

						<p>{{review.experience}}</p>

						<p>{{review.review}}</p>

					</div>
					</div>

				</div>

				<div class="commentfooter"><p> -- <a href="/?profile_link={{review.sender}}">{{review.sender}} </a></p></div>

		</li>
	
	{%endfor%}
	<ul>
{%else%}
<p> no reviews </p>
{%endif%}
</div>