<div class="tabbable">
    <ul>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#pane1" data-toggle="tab">
            Available lenders at {{query}}
            </a></li>
        <li><a href="#pane2" data-toggle="tab">
             Current Open Requests at {{query}}
            </a></li>
        <li><a href="#pane3" data-toggle="tab">
            Current Open Trips from {{query}}
        </a></li>
    </ul>
    </ui>

    <div class="tab-content">
        <div id="pane1" class="tab-pane active">
            {%if lenders%}
            <h4> Available lenders at {{query}} : </h4>
                <ul class="thumbnails">
                    {% for profile in lenders %}
                        <li class="span4" style="margin-top:10%; margin-left : 2%;">
                                <div class="thumbnail">

                                    <form action="" method="get">
                                        <input type="submit" name="profile_link" value="{{profile.user.username}}" class="btn btn-inverse" style="width:100%; font-size:140%;">
                                    </form>

                                </div>
                             
                        </li>
                    {% endfor %}
                </ul>

            {% else %}
                <div class="no_results">
                    <h4>Currently <strong>NO</strong> lenders available at <strong>{{ query }}</strong> .</h4>
                </div>
            {% endif %}
        </div>

        <div id="pane2" class="tab-pane">
            {%if publicrequests%}
            <h4> Current Open Requests at {{query}} : </h4>
                <ul class="thumbnails">
                    {% for req in publicrequests %}
                        <li style="margin-top:10%; margin-left : 2%;">
                                <div class="thumbnail">
                                   
                                    <form action="" method="get">
                                        <a id="{{req.id}}" data-toggle="modal" data-target=

                                            {%if loggedin%}
                                                {% if req.sender != user.userprofile %}
                                                    "#respond-to-openrequest-modal"
                                                {%else%}
                                                    "#manage-openrequest-modal"
                                                {%endif%}
                                            {% else %}
                                                "#login-modal"
                                            {% endif %} 
                                            onClick="reply_click(this.id)"
                                            class="btn btn-warning" style="width:70%; font-size:140%;" href="#">
                                            {{req.sender}}'s request
                                        </a>
                                     
                                    </form>

                                </div>
                             
                        </li>
                    {% endfor %}
                </ul>

            {% else %}
                <div class="no_results">
                    <h4>Currently <strong>NO</strong> active open requests at <strong>{{ query }}</strong> .</h4>
                </div>
            {% endif %} 
        </div>

        <div id="pane3" class="tab-pane">
            {%if opentrips%}
            <h4> Current Open Trips from {{query}} : </h4>
                <ul class="thumbnails">
                    {% for trip in opentrips %}
                        <li style="margin-top:10%; margin-left : 2%;">
                                <div class="thumbnail">
                                   
                                    <form action="" method="get">
                                        <a data-toggle="modal" data-target={%if loggedin%}
                                            "#respond-to-opentrip-modal"{% else %}"#opentrip-modal"{% endif %} 
                                            class="btn btn-success" style="width:70%; font-size:140%;" href="#">
                                            {{trip.creator}}'s Trip
                                        </a>
                                     
                                    </form>

                                </div>
                             
                        </li>
                    {% endfor %}
                </ul>

            {% else %}
                <div class="no_results">
                    <h4>Currently <strong>NO</strong> active open trips from <strong>{{ query }}</strong> .</h4>
                </div>
            {% endif %} 
        </div>

    </div>
</div>          



<!-- 
    {%if lenders%}
    <h3> Available lenders at {{query}} : </h3>
        <ul class="thumbnails">
            {% for profile in lenders %}
                <li class="span4" style="margin-top:10%; margin-left : 2%;">
                        <div class="thumbnail">
                           
                            <form action="" method="get">
                                <input type="submit" name="profile_link" value="{{profile.user.username}}" class="btn btn-inverse" style="width:100%; font-size:140%;">
                            </form>

                        </div>
                     
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <div class="no_results">
            <h3>Currently <strong>NO</strong> lenders available at <strong>{{ query }}</strong> .</h3>
        </div>
    {% endif %}


    {%if publicrequests%}
    <h3> Current Open Requests at {{query}} : </h3>
        <ul class="thumbnails">
            {% for req in publicrequests %}
                <li style="margin-top:10%; margin-left : 2%;">
                        <div class="thumbnail">
                           
                            <form action="" method="get">
                                <input type="submit" name="request_link" value="{{req.sender}}'s request" class="btn btn-warning" style="width:100%; font-size:140%;">
                            </form>

                        </div>
                     
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <div class="no_results">
            <h3>Currently <strong>NO</strong> active open requests at <strong>{{ query }}</strong> .</h3>
        </div>
    {% endif %} -->