div.lender_details { margin-top: 10px;
				padding: 20px;
				margin-left : 300px ;
				position:relative;
				z-index:0;
				color: white;
				background: skyblue;
				font-weight: bold;
				font-size: 120%;
				width:180px;
				border-radius : 90% / 50% ;
				}
a.location		 {color:white;
				text-decoration:none;			
				}
				
a.location:hover {text-decoration:underline;
				}				
			
img.lender_image { margin-top:10px;
					padding:30px;
					margin-left:10px;
					width:150px;
					height:100px;
					position:absolute;
					z-index;0;
				}
				
form.request_form {
				margin-top: 5%;
				padding: 50px;
				margin-left : 10% ;				
				position:relative;
				}

form.back_button { padding:30px;
					}
					
#logout { 	
		color: #165;
		font-weight: bold;
		font-size: 100%;
		padding:10px;
		margin-top : 2%;
		margin-left	: 75%;	
		position:absolute;
		}