<html>
<head>
    <title>Login</title>
</head>
<body>
   	<p>{% if errors %}
        <ul>
            {% for e in errors %}
            <li>{{ e }}</li>
            {% endfor %}
        </ul>
    {% endif %}</p>
	
	<form action="/login/" method="POST">
		{% csrf_token %}
		
		{{form.as_p}}
		
		<input type="submit" value="Submit" />

	</form>

</body>
</html>

