{% extends "base.html" %}
{% block title %}{{ head_title }}{% endblock %}
{% block custom_stylesheets %}
	<link rel="stylesheet" href="http://localhost:8000/media/background_style.css" />
{% endblock %}
{% block head_js %}
		<!--<script type="text/javascript"
		      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWmji3zO5KjZny-SqlKVN_vko4tSln6jQ&sensor=false">
		</script>-->

{% endblock %}
{% block content %}
	{% include "includes/signup.html" %}
	{% include "includes/login.html" %}
	<div class="row-fluid">
        {%if profile_link%}
		<div class="span11" style="text-align: center;">
        {%else%}
        <div class="span4" style="text-align: center;">
        {%endif%}

			{% if not loggedin %}
                {%if profile_link%}
                {% include "profile.html" %}

                {%else%}

                    {%if query%}
                       
                            {% include "search.html" %}

                    {%else%}

                    <h2>{{welcome_message}}</h2>
                    <h3>{{login_prompt}}</h3>           
                    <a data-toggle="modal" data-target="#login-modal" class="btn btn-large btn-primary" style="width:50%" href="#">LOGIN</a>
                    <h3>{{signup_prompt}}</h3>                         
                    <a data-toggle="modal" data-target="#signup-modal" class="btn btn-large btn-primary" style="width:50%" href="#">SIGNUP</a>

                    {%endif%}
                {%endif%}

            {%else%}
                {%if profile_link%}
                {% include "profile.html" %}

                {%else%}
                    {%if query%}

                        {% include "search.html" %}

                    {%else%}
                        <h2> hello, {{user.username}} </h3>
                    {%endif%}
                {%endif%}
            {%endif%}


		</div>

        {%if profile_link%}

            <div class="span3">
                <div id="map_canvas" style="width:100%; height:10%; padding:20px;"></div>
            </div>

        {%else%}

    		<div class="span8">
    			<div id="map_canvas" style="width:100%; height:400px; padding:20px;"></div>
    		</div>

        {%endif%}

	</div>
{% endblock %}
{% block body_js %}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
	<script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng({{lt}},{{lng}}),
          {%if query%}
          zoom: 8,
          {%else%}
          zoom: 2,
          {%endif%}
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var mapdiv = document.getElementById("map_canvas");
        var map = new google.maps.Map(mapdiv, mapOptions);

        var input = document.getElementById('place-search');
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        latitudes = {{latitudes}};
        longitudes = {{longitudes}};
        usernames = {{usernames|safe}};

        console.log(latitudes);
        var markers = [];
        var infowindows = [];
        for (var i = 0; i < latitudes.length; i++) {
        	var marker = new google.maps.Marker({
        	    position: new google.maps.LatLng(latitudes[i], longitudes[i]),
        	    title: usernames[i]
        	});
        	var contentString = '<a href="/profile/' + usernames[i] +'">' + usernames[i] +'\'s profile';

        	var infowindow = new google.maps.InfoWindow({
        	    content: contentString
        	});
        	markers.push(marker);
        	infowindows.push(infowindow);
        };
        console.log(infowindows[2]);

        function infowindowtrigger (infowindows, markers, i) {
        	return function(){
        		infowindows[i].open(map, markers[i]);
        	};
        };

        for (var i = 0; i < markers.length; i++) {
        	markers[i].setMap(map);
        	google.maps.event.addListener(markers[i], 'click', infowindowtrigger(infowindows, markers, i));
        };
        
      }
	</script>
	<script>
		document.body.onload=initialize();
		$("#map_canvas").height($(window).height());
		console.log({{	latitudes}});
		console.log({{longitudes}});
	</script>
{% endblock %}
