
{%if lenders%}
<h3> Available lenders at {{query}} : </h3>
    <ul class="thumbnails">
        {% for profile in lenders %}
            <li class="span4" style="margin-top:10%; margin-left : 2%;">
                    <div class="thumbnail">
                       
                        <form action="" method="get">
                            <input type="submit" name="profile_link" value="{{profile.user.username}}" class="btn btn-inverse" style="width:100%; font-size:140%;">
                        </form>

                    </div>
                 
            </li>
        {% endfor %}
    </ul>

{% else %}
    <div class="no_results">
        <h3>Currently <strong>NO</strong> lenders available at <strong>{{ query }}</strong> .</h3>
    </div>
{% endif %}