<html>
<head>
    <title>Sign up</title>
	<link rel="stylesheet" href="http://localhost:8000/media/signup.css" />
</head>
<body>
   	<p>{% if errors %}
        <ul>
            {% for e in errors %}
            <li>{{ e }}</li>
            {% endfor %}
        </ul>
    {% endif %}</p>
	
	<form action="/signup/" method="POST">
		{% csrf_token %}
		
		<table>
	        {% for field in form %}
	        <tr><td> {{ field.label_tag }} : {{field}}</td></tr>
	        {% endfor %}
	    </table>
		
		<input type="submit" value="Sign Up" />

	</form>

</body>
</html>

