<html>
<head>
    <title>Lend Vehicles Here</title>
	<link rel="stylesheet" href="http://localhost:8000/media/lender_page.css" />
</head>
<body>
   </p> ##need to add form-field validation </p> 

   	<p>{% if errors %}
        <ul>
            {% for e in errors %}
            <li>{{ e }}</li>
            {% endfor %}
        </ul>
    {% endif %}</p>
	
	<form action="/lender_entry/" method="POST">
	{% csrf_token %}
	
	<table>
        {% for field in form %}
        <tr><td> {{ field.label_tag }} : {{field}}</td></tr>
        {% endfor %}
    </table>
	
	<input type="submit" value="Sign Up" />
	
	<p>##need to add 1 more form for existing lenderes ## that redirects them to their profile_page (something like url('/lender_page/profile?q=lender_name')##</p>
	
	<INPUT Type="button" VALUE="Go Back" onClick="history.go(-1);return true;">

	</form>

</body>
</html>

