{% extends "base.html" %}
{% block title %}{{ profile.user.username }}'s profile{% endblock %}
{% block custom_stylesheets %}
	<link rel="stylesheet" href="http://localhost:8000/media/lender_profile.css"/>
	 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
	 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/timepicker.css">
  {% endblock %}
{% block content %}
	{% include "includes/signup.html" %}
	{% include "includes/login.html" %}
	{% include "includes/request_form.html" %}
	<div class="span2"></div>
	<div class="span8">
		<div class="row" style="padding-top:50px;">
			<div class="span3">
				<img src="http://placehold.it/80x80" class="img-polaroid" style="margin:20px;">
				{% if not request_to_lender %}
					{%if not_my_profile %}
						<form action="" method="GET">
							<a data-toggle="modal" data-target={%if loggedin%}
							"#request-form-modal"{% else %}"#login-modal"{% endif %} 
							class="btn btn-large btn-primary" style="width:50%" href="#">Request</a>
						<form>
					{%endif%}
				{%endif%}
			</div>
			<div class="span5">
				<table class="table table-hover">
					<tr class="success">
						<td>Name : {{profile.user.first_name}} {{profile.user.last_name}}</td>
					</tr>
					<tr class="error">
						<td>Location : <a href="/lender_search/?query={{profile.location}}">{{profile.location}}</a></td>
					</tr>
					<tr class="warning">
						<td>Email : {{profile.user.email}}</td>
					</tr>
					<tr class="info">
						<td>Contact Number : {{profile.contactno}}</td>
					</tr>
					<tr class="success">
						<td>Vehicle's Available : {{profile.available_vehicle_types}}</td>
					</tr>
				</table>
			</div>
		</div>	
		<div class="row">
			{%if not_my_profile %}
				<div class="span8">
					<h3>Request's sent to {{profile.user.username}}</h3>
					{% if visitors_requests %}
					<table class="table table-hover">
						<tr>
							<th>From</th>
							<th>To</th>
							<th>Message</th>
							<th>Status</th>
						</tr>
						{% for request in visitors_requests %}
							<tr>
								<td>{{request.datetime_from}}</td> 
								<td>{{request.datetime_to}}</td>
								<td>{{request.message}}</td>  
								<td>{{request.status}}</td>
							</tr>
						{% endfor %}
					</table>
					{% else %}
					<h5>No requests sent.</h5>
					{% endif %}
			{% else %}
				<div class="span4">
					<h5>Sent Requests</h5>
					{% if sent_requests %}
					<table class="table table-hover">
						<tr>
							<th>Receiver</th>
							<th>From</th>
							<th>To</th>
							<th>Message</th>
							<th>Status</th>
						</tr>
						{% for request in sent_requests %}
							<tr>
								<td><a href="/profile/{{request.receiver}}/"> {{request.receiver}} </a> </td>
								<td>{{request.datetime_from}}</td> 
								<td>{{request.datetime_to}}</td>
								<td>{{request.message}}</td>  
								<td>{{request.status}}</td>
							</tr>
						{% endfor %}
					</table>
					{% else %}
						<p>No requests sent.</p>
					{% endif %}
				</div>
				<div class="span4">
					<h5>Received Requests</h5>
					{% if received_requests %}
					<table class="table table-hover">
						<tr>
							<th>From</th>
							<th>To</th>
							<th>Message</th>
							<th>Status</th>
						</tr>
						{% for request in received_requests %}
							<tr>
								<td>{{request.datetime_from}}</td> 
								<td>{{request.datetime_to}}</td>
								<td>{{request.message}}</td>  
								<td>{{request.status}}</td>
							</tr>
						{% endfor %}
					</table>
					{% else %}
					<p>No requests received</p>
					{% endif %}
				</div>
			{% endif %}
		</div>	
	</div>
	<div class="span2"></div>
{% endblock %}
{% block body_js %}
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.totemticker.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
	<script>
	  $(function() {
	    $("#id_datetime_from").datetimepicker({
			timeFormat: "HH:mm",
			dateFormat: "yy-mm-dd"
		});
	    $("#id_datetime_to").datetimepicker({
			timeFormat: "HH:mm",
			dateFormat: "yy-mm-dd"
		});
	  });
  	</script>
{% endblock %}
