{% extends "base.html" %}
{% block title %}Lender Search Results{% endblock %}

{% block custom_stylesheets %}
<link rel="stylesheet" href="http://localhost:8000/media/lender_search.css" />

{% endblock %}

{% block content %}

<div class="span2"></div>
	<div class="lender_list">
	{%if lenders%}
	<p> <strong> Found following lenders {{lender|pluralize}} at {{ query }} : </strong> </p>
		<ul>
			{% for profile in lenders %}
			<li>
				<p> <a href="/profile/{{profile.user.username}}"> {{ profile.user.first_name }} {{profile.user.last_name}}</a></p>
				<p> {{profile.available_vehicle_types}} </p>
			</li>
			{% endfor %}
		</ul>
	</div>
	
	<iframe class = "map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="1000" height="300"
	        src="http://maps.google.com/?ie=UTF8&amp;ll={{latitude}},{{longitude}}&amp;spn=0.040623,0.077162&amp;z=8&amp;output=embed" alt="couldn't load the map..">   <! klmn = http://maps.google.com/?ie=UTF8&amp;ll={{latitude}},{{longitude}}&amp;spn=0.040623,0.077162&amp;z=8&amp;output=embed >
	</iframe>
	
	{% else %}
	<div class="no_results">
		<p>Currently <strong>NO</strong> lenders available at <strong>{{ query }}</strong> .</p>
	</div>
	{% endif %}
 
	<form class="back_button">
		<INPUT Type="button" VALUE="<---" onClick="history.go(-1);return true;">
	</form>
{% endblock %}