img.background {
	position:absolute;
	left:0px;
	top:0px;
	z-index:-1;
	height: 100%;
	width: 100%;
	}		
div.renter_form   { margin-top: 177px;
    padding: 20px;
	margin-left : 400px ;
	position:absolute;
	z-index:0;
	}
input.search_button { color: #635;
  font-weight: bold;
  font-size: 100%;
  text-transform: uppercase;
  padding:5px;
  position:absolute;
  z-index:0;
  }