{% if messages %}
    {% for message in messages %}
    <div class="alert fade in {% if message.tags %}{{ message.tags }}{% endif %}" style="max-width: 500px; text-align: center; margin: auto; z-index: 10;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
              </div>
    {% endfor %}
{% endif %}