div.lender_list {margin-top: 100px;
				padding: 20px;
				margin-left : 10px ;
				position:absolute;
				z-index:0;
				color: black;
				background: orange;
				font-weight: bold;
				font-size: 120%;
				border-radius : 90% / 25% ;
				}

a    {color:brown;
	text-decoration:none;			
	}
				
a:hover {text-decoration:underline;
				}
				
iframe.map { height : 400px;
		width : 600px;
		margin-left : 50% ;
		margin-top : 100px ;
		position:relative;
		}

form.back_button { position: relative;
					padding: 50px;
					}