<div class="modal fade" id="manage-openrequest-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Modify Your Request </h3>
    </div>
    <div class="modal-body">
        <form id="manage-openrequest-form" class="well form-horizontal"
            action="" method="post" accept-charset="utf-8">
            <fieldset>
                <div class="control-group">

                    <div class="control-label">Manage </div>
                    <div class="controls">

                        <button id="response-accept" class="btn btn-primary" name="respond" value="Accept">Change Date</button>
                        <button id="response-accept" class="btn btn-info" name="respond" value="Accept">Change Source</button>
                        <button id="response-decline" class="btn btn-danger" name="respond" value="Decline">Change destination</button>
            
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

