<div class="modal fade" id="open-request-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Post An Open Request at {{query}}</h3>
    </div>
    <div class="modal-body">
        <form id="open-request-form" class="well form-horizontal"
            action="#" method="post" accept-charset="utf-8">
            <fieldset>
                {{request_form.as_table}}

                <div class="control-group">

                    <div class="controls" style="padding:20px;">
                        <input class="btn btn-warning" type="submit" name="open_request" value="SUBMIT"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
