<div class="modal fade" id="open-trip-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Post An Open Trip</h3>
    </div>
    <div class="modal-body">
        <form id="open-trip" class="well form-horizontal"
            action="#" method="post" accept-charset="utf-8">
            <fieldset>
                <div>
                    {{opentrip_form.as_table}}
                </div>

                <div class="control-group">
                    <div class="controls" style="padding:20px;">
                        <input class="btn btn-danger" type="submit" name="open_trip" value="SUBMIT"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script>
        var trip_mapdiv = document.getElementById("trip_map");
        var tripmap = new google.maps.Map(trip_mapdiv)
</script>