<div class="modal fade" id="request-form-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Request Vehicle From {{profile_link}}</h3>
    </div>
    <div class="modal-body">
        <form id="request-form" class="well form-horizontal"
            action="/?profile_link={{profile}}" method="post" accept-charset="utf-8">
            <fieldset>
                {{request_form.as_table}}
                <div class="control-group">
                    <div class="controls" style="padding:20px;">
                        <input class="btn btn-primary" type="submit" name="private_request" value="SUBMIT"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
   
