<div class="modal fade" id="respond-to-openrequest-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3 class="openreq_response">Respond to Public-Request </h3>
    </div>
    <div class="modal-body">
        <form id="respond-to-openrequest-form" class="well form-horizontal"
            action="" method="post" accept-charset="utf-8">
            <fieldset>
                <div class="control-group">

                    <div class="control-label" style="padding:10px;">Respond : </div>
                    <div class="controls" style="padding:10px;">

                        <button id="response-accept" class="btn btn-primary" name="respond" value="Accept">Accept</button>
                        <button id="response-accept" class="btn btn-info" name="respond" value="Accept">Maybe</button>
                        <button id="response-decline" class="btn btn-danger" name="respond" value="Decline">Decline</button>
            
                    </div>

                    <div class="control-label" style="padding:10px;">Message : </div>
                    <div class="controls" style="padding:10px;">
                        <textarea id="review" rows="5">Include a message here...
                        </textarea>
                    </div>

                </div>
                    
                <div class="control-group" style="padding:10px;">
                    <div class="controls">
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
