<div class="modal fade" id="review-form-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Review {{profile.user.username}}</h3>
    </div>
    <div class="modal-body">
        <form id="review-form" class="well form-horizontal"
            action="/?profile_link={{profile}}" method="post" accept-charset="utf-8">
            <fieldset>
                
                {{review_form.as_table}}
                <div class="control-group">
                    <div class="controls" style="padding:20px;">
                        <input class="btn btn-success" type="submit" name="review" value="Submit Review"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

